<%- include('layout') -%>
<script src="https://unpkg.com/amazon-quicksight-embedding-sdk@1.0.12/dist/quicksight-embedding-js-sdk.min.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    function initDashboard() {
        var url = "<%= embedUrl %>";
        url = url.replace(/&amp;/g, '&');
        console.log(url);
        var options = {
            url: url,
            container: document.getElementById("embeddingContainer"),
            scrolling: "no",
            height: "1000px",
            width: "100%",
            locale: "en-US",
            footerPaddingEnabled: true,
            sheetTabsDisabled: false, // use this option to enable or disable sheet tab controls in dashboard embedding
            printEnabled: false, // use this option to enable or disable print option for dashboard embedding
            // this option only applies to experience embedding and will not be used for dashboard embedding
        };
        var dashboard = QuickSightEmbedding.embedDashboard(options);
        dashboard.on("load", xx);

    }
</script>
<style>
    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -25px;
        text-align: center;
        z-index: -1;
    }

</style>
<body onload="initDashboard()" id="main">
    <div id="embeddingContainer" >
        <div class="d-flex justify-content-center">
            <div class="spinner-border spinner" role="status">
            </div>

        </div>
    </div>

</body>
