<%- include('layout') -%>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCpskxgN4OVenuc7sDr7_IPmN91wLyp0U&callback=initMap">
</script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>

<script>
    let markers = [];
    let markerClusters = [];
    let map = null;
    let locations = <%- JSON.stringify(data) %>
        $(document).ready(function () {
            $("#search").click(function (e) {
                e.preventDefault();
                let severity = $("#severity").val();
                let year = $("#acc_year").val();
                let iga = $("#acc_lga").val();

                // Reset the markers array
                console.log("marker length",markers.length);
                console.log("marker Cluster length",markerClusters.length);

                if (markers.length) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [];
                    markerClusters.clearMarkers();

                }
                if (markerClusters.length) {
                }
                let queryString = encodeURI(`?severity=${severity}&accident_date=${year}&lga_name_all=${iga}`);
                $('#search').prop('disabled', true);
                $("#search").html('');
                $('#search').append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
                $('#search').append('<span class="sr-only">Loading...</span>')

                // <button class="btn btn-primary" type="button" disabled>
                //     <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                //     <span class="sr-only">Loading...</span>
                // </button>
                $.ajax({
                    type: "GET",
                    url: "https://0xjid9363a.execute-api.us-east-1.amazonaws.com/roadAccidentAnalytic/roadaccidentdetail"+queryString,
                    crossDomain: true,
                    headers: {
                        "Authorization": "AWS4-HMAC-SHA256 Credential=AKIAVSLBGXBARSILIX6E/20210124/us-east-1/execute-api/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signature=30d5c620fd0fc8cc6b7741180ac30ae059143dfaaef5ce08206c429cc715c0cb"
                    },
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {

                        $('input[type="text"]').keyup(function() {
                            if($(this).val() != '') {
                                $(':input[type="submit"]').prop('disabled', false);
                            }
                        });

                        locations = data.data;
                        console.log(data);
                        if(data.data.length){
                            updateMap();
                        }else{
                            alert(`No data from this query Severity : ${severity} , Year : ${year} , LGA : ${iga}`);
                        }
                        $('#search').prop('disabled', false);
                        $("#search").html('Search');
                        $('#search span').remove()
                        $('#search span').remove()
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 8,
                    center: {lat: -37.81961, lng: 144.968119},
                    //victoria
                });
            }

            function updateMap() {
                const contentString = "test";
                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                });
                markers = locations.map((location, i) => {
                    let marker = new google.maps.Marker({
                        position: {lat: location.latitude, lng: location.longitude},
                        // label: location.accident_no,
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
                        return function () {
                            let content = `<div id="content">
                                        <h2 id="firstHeading" class="firstHeading">Road Accident Detail</h2>
                                        <p>Severity : ${location.severity}</p>
                                        <p>LGA name : ${location.lga_name_all}</p>
                                        <p>Road geometry : ${location.road_geometry}</p>
                                        <p>Accident type : ${location.accident_type}</p>
                                        </div>`;
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, contentString, infowindow));
                    return marker;
                });
                // Add a marker clusterer to manage the markers.
                markerClusters = new MarkerClusterer(map, markers, {
                    imagePath:
                        "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
                });

            }

            initMap();
        });


</script>

<div style="margin-left: 5%;margin-right: 5%; margin-top: 2%">
    <form>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="severity">Severity</label>
                <select id="severity" class="form-control">
                    <option selected value="Other injury accident">Other injury accident</option>
                    <option value="Non injury accident">Non injury accident</option>
                    <option value="Fatal accident">Fatal accident</option>
                    <option value="Serious injury accident">Serious injury accident</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="acc_year">Year</label>
                <select id="acc_year" class="form-control">
                    <option selected value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="acc_lga">LGA name</label>
                <select id="acc_lga" class="form-control">
                    <% lga_list.forEach(function(lga){ %>
                        <option value="<%- lga %>"><%- lga %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" id="search">Search</button>
    </form>


</div>
<div id="map" style="margin-left: 5%;margin-right: 5%;margin-top: 2%"></div>
