<%- include('layout') -%>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCpskxgN4OVenuc7sDr7_IPmN91wLyp0U&callback=initMap">
</script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>

<script src="/js/map.js"></script>

<div class="container-fluid">
    <p>Hello map</p>

</div>
<div id="map"></div>